name: Emulator RISC-V Autotests
run-name: Testing ${{ github.repository }} by @${{ github.actor }}

on:
  create:
  repository_dispatch: 
  workflow_dispatch: 
    inputs:
          start_dump:
              required: true
              type: string
              description: "start address for test task.bin (hex or dec value)"
              default: "0"
          size_dump:
              required: true
              type: string
              description: "size in bytes for test task.bin (hex or dec value)"
              default: "100"

jobs:
  run-tests:
    with:
      student_url:         ${{ github.repository }}
      student_ref:         ${{ github.sha }}
      start_dump:          ${{ inputs.start_dump }}
      size_dump:           ${{ inputs.size_dump }}
    uses: skkv-mathcs/private-tools-25/.github/workflows/emulator.yml@main
    secrets: inherit
